body{
  background-color: #E5E7E9;
}

md-toolbar .md-toolbar-tools {
    background-color: #1B2631;
    color: white;
}

.searchText{
  margin-left: 10px;
}

.md-fab {
    text-align: center;
    margin-top: 16px;
}
.searchButton{
  color: #154360;
}

.sitename a {
    font-family: inherit;
    color: #FFFFFF;
    text-decoration: none;
}

.contactcard{
  background-color: #F8F9F9;
}

.card{
  text-align: center;
}
;
.cardlayout{
  text-align: justify;
}
