<md-nav-bar md-selected-nav-item="currentNavItem">
    <md-button ng-click="showUploadModal()" class="md-raised md-warn">
        Upload
    </md-button>
    <md-button ng-click="searchControl()" class="searchButton">
        {{ search }}
    </md-button>
</md-nav-bar>
<br/>
<div ng-show="searchbar" class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span id="search_concept">sort</span> <span class="caret"></span>
            </button>
                <ul id="dropdownList" class="dropdown-menu" role="menu">
                    <li><a href="#">All Books</a></li>
                    <li><a href="#">Engineering Books</a></li>
                    <li><a href="#">Science Books</a></li>
                    <li><a href="#">Art Books</a></li>
                    <li><a href="#">Buisness Books</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Carleton Students</a></li>
                    <li><a href="#">Uottawa Students</a></li>
                    <li><a href="#">Algoquin Students</a></li>
                </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" name="x" placeholder="Book Search" ng-model="message">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</div>
<br/>
<md-content>
    <h3 class="searchText"> Searching for: {{ message }} </h3>
    <book-view contact="contact" info="rachelleBooks" sort="message">
    </book-view>
</md-content>
