<div class="modal-header">
    <h3 class="modal-title">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <strong> Login </strong>
    </h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <form class="" action="/" method="post">
            <label for=""></label>
            <input type="text" class="form-control" ng-model="username" placeholder="Username">
            <label for=""></label>
            <input type="password" class="form-control" ng-model="password" placeholder="Password">
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="userLogin()">Login</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
